---

---

<div>
  <hr />
  <section class="flex">
    <div>
      <p>Mail. info@plasticchange.org</p>
      <p>Tlf. +45 42 66 72 46</p>
    </div>
    <div>
      <p>Telefontid. Mandag - Fredag</p>
      <p>10:00 - 15:00</p>
    </div>
    <div>
      <p>Website af Savage Studio</p>
      <p>© 2024 Plastic Change</p>
    </div>
  </section>
</div>
